<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon test suite">
    <listeners>
        <listener class-name="org.test.IListener"></listener>
    </listeners>
    <test name="Login_Add_ProceedToCheckout">
        <classes>
            <class name="org.test.AmazonTestShoppingCart_AddItem_ProceedToCheckOut"/>
        </classes>
    </test>
</suite>